asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
cloudinary==1.41.0
Django==5.1.1
django-cloudinary-storage==0.3.0
idna==3.10
psycopg2==2.9.9
psycopg2-binary==2.9.9
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
tzdata==2024.2
urllib3==2.2.3
