{% extends 'base.html' %}
{% block title %}
<title>Register</title>
{% endblock %}

{% block content %}
<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-3xl">
    <h1 class="text-2xl font-bold mb-4 text-center">Register to Vision Board Gallery</h1>
    <hr class="mb-4">
    
    <!-- Registration Form -->
    <form method="POST" action="{% url 'register_user' %}">
      {% csrf_token %}
      
      <!-- Render the form fields -->
      {{ registerform.as_p }}
      
      <!-- Submit button -->
      <button type="submit" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 w-full">Register</button>
    </form>
  </div>
</div>
{% endblock %}
